graft src/kitconcept
graft devops
graft docs
graft scripts
graft solr
graft tests
include .coveragerc
include .editorconfig
include Makefile
include docker-compose.yml
include *.yaml
include *.md
include *.txt
global-exclude *.pyc
